<!DOCTYPE html>
<html>
<head>
  <title>JsRevisions</title>
  <%= stylesheet_link_tag :all %>
  <%= include_stylesheets :common, :app %>
  <%= include_javascripts :app %>
  <%= csrf_meta_tag %>
  
  
</head>
<body>

<%= yield %>

</body>
</html>
